.wrapper{
  position: relative;
}

.RenderedCanvas{
  display: inline-block;
}

canvas{
  margin: 1em 0.2em;
  border: 5px solid #50b490;
}

.prev, .next{
  margin-left: 0.4em;
}

.properties{
  margin-left: 68em;
}

.SideBar{
  display: inline-block;
  position: absolute;
  margin: auto;
  padding-left: 56em;
  top: 0.5em;
}

.output {
  background: lightblue;
  color: #fff;
  border-radius: 2px;
  padding: 3px 7px;
  margin: 0px 10px;
  text-align: center;
  position: relative;
}

.output::before{
  content: '';
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  height: 0;
  width: 0;
  border: solid 6px lightblue;
  z-index: -1;
  border-top-color: white;
  border-bottom-color: white;
  border-left-color: white;
}